<div class="p-6 flex flex-col gap-6">
  <div class="flex justify-between items-top mb-8">
    <div class="flex flex-col">
      <h4 class="text-lg font-semibold">Blog/News Hot Topics List</h4>
      <span>Little more description on this topic is here</span>
    </div>
    <div>
      <button
        *ngIf="!showAddEditBox"
        (click)="showAddEditBox = true"
        class="bg-pink-900 px-5 py-2 font-semibold text-white rounded"
      >
        Add New Hot Topic
      </button>
      <app-news-hot-topic-create
        (onCancelClicked)="showAddEditBox = false; selectedHotTopic = null"
        (onSaved)="loadHotTopic()"
        *ngIf="showAddEditBox"
        [hotTopic]="selectedHotTopic"
      ></app-news-hot-topic-create>
    </div>
  </div>

  <!-- List Hot Topic -->
  <div class="grid grid-cols-2 gap-6">
    <!-- Hot Topic Card -->
    <div
      *ngFor="let hotTopic of hotTopics"
      class="border border-slate-200 shadow-sm px-6 py-2 flex justify-between items-center"
    >
      <!-- Hot Topic info -->
      <div>
        <h1 class="font-semibold text-blue-500 text-lg">
          {{ hotTopic.priority }} | {{ hotTopic.name | uppercase }}
        </h1>
        <h3 class="text-slate-500">{{ hotTopic.code }}</h3>
      </div>
      <!-- Action Menu -->
      <div class="flex gap-6">
        <app-button
          paddings="px-2 py-2"
          border="circle"
          color="primary"
          (click)="editHotTopic(hotTopic)"
          ><span class="material-icons">edit</span></app-button
        >
        <app-button
          paddings="px-2 py-2"
          border="circle"
          color="secondary"
          (click)="deleteHotTopic(hotTopic.id)"
          ><span class="material-icons">delete</span></app-button
        >
      </div>
    </div>
  </div>
</div>
