<div class="w-full flex flex-col items-center mt-20">
  <div class="flex border-t flex-col w-[70%] max-xl:w-[90%]">
    <div class="text-gray-600 text-[15px] flex gap-3 pt-6 w-full border-b border-white items-center justify-between">
      TechNepal is a newsportal totally focused on Tech related news. Our goal
      is to keep you upto date with Technology
      <a target="_blank" href="https://ananta-poudel.com.np" class="font-semibold cursor-pointer underline">Ananta
        Poudel</a>
    </div>

    <div class="text-gray-600 font-light flex gap-3 w-full justify-between py-6 border-b border-white">
      <a href="https://ananta-poudel.com.np/about"
        class="text-pink-950 font-semibold cursor-pointer hover:text-pink-800">
        About me
      </a>
      <a href="https://ananta-poudel.com.np/contact"
        class="text-pink-950 font-semibold cursor-pointer hover:text-pink-800">
        Contact me
      </a>

      <p class="text-pink-950 font-semibold cursor-pointer hover:text-pink-800" [routerLink]="'/terms-conditions'">
        Terms and conditions
      </p>
      <a href="https://linkedin.com/in/ananta580"
        class="text-pink-950 font-semibold cursor-pointer hover:text-pink-800">
        Linkedin Page
      </a>
    </div>
  </div>
  <div class="text-white font-light flex gap-3 py-6 bg-slate-900 w-full">
    <a target="_blank" href="https://ananta-poudel.com.np"
      class="w-[70%] max-xl:w-[90%] mx-auto flex items-center gap-3">
      <img class="h-8" src="assets/professional/love.svg"> Designed and Developed by
      <span class="font-semibold">Ananta Poudel</span>
    </a>
  </div>
</div>