<div class="w-full flex flex-col items-center mt-20">
  <div class="flex border-t flex-col w-[70%] max-xl:w-[90%]">
    <div
      class="text-gray-600 text-[15px] flex gap-3 pt-6 w-full border-b border-white items-center justify-between"
    >
      TechNepal is a newsportal totally focused on Tech related news. Our goal
      is to keep you upto date with Technology
      <a class="font-semibold cursor-pointer underline">NexGen Ventures</a>
    </div>

    <div
      class="text-gray-600 font-light flex gap-3 w-full justify-between py-6 border-b border-white"
    >
      <p class="text-pink-950 font-semibold cursor-pointer hover:text-pink-800">
        About us
      </p>
      <p class="text-pink-950 font-semibold cursor-pointer hover:text-pink-800">
        Contact us
      </p>

      <p
        class="text-pink-950 font-semibold cursor-pointer hover:text-pink-800"
        [routerLink]="'/terms-conditions'"
      >
        Terms and conditions
      </p>
      <p class="text-pink-950 font-semibold cursor-pointer hover:text-pink-800">
        Our authors
      </p>
    </div>
  </div>
  <div class="text-white font-light flex gap-3 py-4 bg-slate-900 w-full">
    <div class="w-[70%] max-xl:w-[90%] mx-auto">
      © NexGen Ventures, Inc. Kathmandu, Nepal.
    </div>
  </div>
</div>
