<div
  class="bg-gradient-to-tr from-slate-700 to-slate-900 w-full flex justify-center mt-6"
>
  <div class="flex flex-col w-[70%] max-xl:w-[90%]">
    <div
      class="text-white font-light flex gap-3 py-6 w-full border-b border-white items-center"
    >
      TechNepal is a newsportal totally focused on Tech related news. Our goal
      is to keep you upto date with Technology
      <a class="font-semibold cursor-pointer text-blue-300 underline"
        >NexGen Ventures</a
      >
    </div>

    <div
      class="text-white font-light flex gap-3 w-full justify-between py-6 border-b border-white"
    >
      <div class="flex gap-2 flex-col">
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">
          About Us
        </p>
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">
          Contact Us
        </p>
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">
          Privacy Policy
        </p>
      </div>
      <div class="flex gap-2 flex-col">
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">
          Cookies
        </p>
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">Career</p>
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">
          Our Authors
        </p>
      </div>
      <div class="flex gap-2 flex-col">
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">
          Advertise with us
        </p>
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">
          Personal Information
        </p>
      </div>
      <div class="flex gap-2 flex-col">
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">
          Terms & Conditions
        </p>
        <p class="text-slate-50 cursor-pointer hover:text-purple-200">
          Notification Settings
        </p>
      </div>
    </div>

    <div class="text-white font-light flex gap-3 py-4 w-full items-center">
      © NexGen Ventures, Inc. Kathmandu, Nepal.
    </div>
  </div>
</div>
