<div class="flex w-full h-screen gap-6 bg-black">
  <div
    class="w-3/6 m-6 mr-0 rounded-md flex justify-center items-center text-3xl cursor-pointer font-semibold text-white"
    routerLink="news"
  >
    <span class="flex gap-4 items-center">
      <span class="material-icons text-4xl">language</span>
      NEWS
    </span>
  </div>
  <div
    class="w-3/6 m-6 ml-0 bg-gray-800 rounded-md flex justify-center items-center text-3xl cursor-pointer font-semibold text-white"
    routerLink="learn"
  >
    <span class="flex gap-4 items-center">
      <span class="material-icons text-4xl">menu_book</span>
      LEARNING
    </span>
  </div>
</div>
