<div class="p-6 flex flex-col gap-6">
  <div class="flex justify-between items-center">
    <div class="flex flex-col">
      <h4 class="text-lg font-semibold">Blogs/News List</h4>
      <span>Little more description on this topic is here</span>
    </div>

    <div>
      <button
        routerLink="create-edit"
        class="bg-slate-700 px-5 py-2 font-semibold text-white"
      >
        Add New Blog
      </button>
    </div>
  </div>

  <!-- Cards -->
  <div class="grid grid-cols-2 gap-6">
    <div
      *ngFor="let news of blogs; let i = index"
      class="flex gap-3 cursor-pointer p-5 relative border-2 border-gray-100 rounded-md hover:bg-slate-100"
    >
      <img width="50%" class="object-cover h-60" [src]="news.coverImage" />
      <div class="flex flex-col gap-2">
        <h1 class="text-3xl font-semibold hover:text-pink-900 line-clamp-3">
          {{ news.title }}
        </h1>
        <p class="line-clamp-5">{{ news.subTitle }}</p>
      </div>

      <div
        class="absolute top-5 left-5 flex gap-3 bg-white bg-opacity-80 px-4 rounded-br-md"
      >
        <app-button
          paddings="p-1 px-2"
          [link]="true"
          border="circle"
          color="primary"
          routerLink="/news/{{ news.combinedTitle }}"
          ><span class="material-icons text-lg">visibility</span></app-button
        >
        <app-button
          paddings="p-1 px-2"
          [link]="true"
          border="circle"
          color="primary"
          routerLink="create-edit/{{ news.id }}"
          ><span class="material-icons text-lg">edit</span></app-button
        >
      </div>
    </div>
  </div>
</div>
