<div class="flex justify-between h-12">
  <!-- Left Part -->
  <div class="flex items-center gap-40">
    <!-- Logo -->
    <div class="flex relative">
      <span class="text-blue-700 text-2xl font-bold">TECHNEPAL</span>
      <span
        class="absolute font-semibold bg-blue-100 text-black px-3 py-[3px] text-xs -right-[60px] rounded-full"
        >News</span
      >
    </div>
    <!-- Other menus -->
    <div class="flex gap-8">
      <div class="flex items-center font-semibold cursor-pointer">
        Categories
        <span class="material-icons text-gray-500">expand_more</span>
      </div>
      <div class="flex items-center font-semibold cursor-pointer">
        Pages
        <span class="material-icons text-gray-500">expand_more</span>
      </div>
      <div class="flex items-center font-semibold cursor-pointer">
        Contact Us
      </div>
      <div class="flex items-center font-semibold cursor-pointer">About Us</div>
    </div>
  </div>
  <!-- Right Part -->
  <div class="flex items-center justify-between gap-6">
    <!-- Search box -->
    <div class="flex gap-2 px-2 items-center bg-gray-100 rounded-md h-9">
      <span class="material-icons text-gray-500">more_vert</span>
      <input class="outline-none bg-transparent" placeholder="Search" />
      <span class="material-icons text-gray-500">search</span>
    </div>
    <!-- Profile Navigation-->
    <div class="flex h-9 w-9 bg-blue-900 rounded-md"></div>
    <!-- Bookmark -->
    <div
      class="flex h-9 w-9 bg-gray-200 rounded-md justify-center items-center"
    >
      <span class="material-icons text-gray-500">bookmark</span>
    </div>
  </div>
</div>
