td {
  padding: 8px;
}

img {
  width: 100% !important;
  height: fit-content;
}

div p , div h1, div h2 , div h3, div h4 , div h5 {
  text-align: justify;
  color: #444546;
}

div a{
  color: rgb(10, 115, 221);
}