<div class="flex flex-col mx-auto w-[70%] max-xl:w-[90%] py-12 gap-8">
  <!-- Ads Section -->
  <app-my-ads></app-my-ads>

  <!--  -->
  <div class="flex gap-8">
    <!-- Main detail section -->
    <div class="flex flex-col w-[650px]">
      <div class="max-xl:px-0 flex flex-col gap-3">
        <h1 class="text-3xl text-justify font-semibold text-gray-600">
          {{ blog?.title }}
        </h1>
        <div class="flex gap-2 items-center">
          Published By
          <div class="flex gap-2 items-center">
            <div class="flex h-7 w-7 object-cover rounded-full">
              <img class="rounded-full" [src]="author?.profileUrl" />
            </div>
            <span class="text-blue-500"> {{ author?.name }}</span>
          </div>
          | Published On
          <span class="text-blue-500">{{ blog?.publishedDate | date }}</span>
        </div>

        <p class="text-gray-500">{{ blog?.subTitle }}</p>

        <img class="rounded-md" [src]="blog?.coverImage" />
      </div>
      <app-preview
        class="max-xl:px-0"
        [value]="blog?.description ?? ''"
      ></app-preview>
    </div>

    <!-- Recommendation section -->
    <div class="w-[400px]">
      <p class="px-4 font-semibold text-slate-400 underline mb-3">
        Recommended for you
      </p>
      <div class="flex flex-col w-full px-5">
        <!-- Small Card -->
        <app-card
          size="small"
          class="border-b first:pt-5 last:border-none py-3"
          *ngFor="let news of recommendedBlogs"
          [routerLink]="'/news/' + news.combinedTitle"
          [item]="news"
        >
        </app-card>
      </div>
    </div>
  </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>
