<div class="flex flex-col mx-auto w-[60%] py-12 gap-8">
  <!-- Ads Section -->
  <div class="bg-slate-50 py-16 flex w-full justify-center text-gray-400">
    Ads
  </div>
  <div class="px-4 flex flex-col gap-3">
    <h1 class="text-3xl text-justify font-semibold text-gray-600">
      {{ blog?.title }}
    </h1>
    <div>
      Published By <span class="text-blue-500">Ananta Poudel</span> | Published
      On
      <span class="text-blue-500">{{ "2022-04-19" }}</span>
    </div>

    <p class="text-gray-500">{{ blog?.subTitle }}</p>
  </div>

  <div class="flex items-center justify-center">
    <quill-view-html
      [content]="blog?.description ?? ''"
      theme="snow"
    ></quill-view-html>
  </div>
</div>
<!-- Top Content -->
