<div *ngIf="sectionNews.length > 0">
  <!-- Main Title -->
  <div
    class="flex justify-center items-center w-full shadow-md bg-gradient-to-b from-transparent to-blue-100 py-3 font-bold text-slate-800 rounded-lg"
  >
    {{ sectionName | uppercase }}
  </div>
  <!-- Display Section -->
  <div class="flex flex-col">
    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <app-card
        *ngFor="let news of sectionNews | slice : 0 : 3; let i = index"
        class="w-2/6"
        [routerLink]="'/news/' + news.combinedTitle"
        [item]="news"
      >
      </app-card>
    </div>
    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <app-card
        *ngFor="let news of sectionNews | slice : 3 : 5; let i = index"
        class="w-2/6"
        [routerLink]="'/news/' + news.combinedTitle"
        [item]="news"
      >
      </app-card>
    </div>
  </div>
</div>

<div
  *ngIf="isLoading"
  class="flex items-center justify-center bg-[#a4a2a21d] py-8"
>
  <app-spinner [fullWidth]="false" [size]="'small'"></app-spinner>
</div>
