<div *ngIf="sectionNews.length > 0">
  <!-- Main Title -->
  <div
    class="flex justify-center items-center w-full shadow-md bg-gradient-to-b from-transparent to-blue-100 py-3 font-bold text-slate-800 rounded-lg"
  >
    {{ sectionName | uppercase }}
  </div>
  <!-- Display Section -->
  <div class="flex flex-col">
    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <div
        *ngFor="let news of sectionNews | slice : 0 : 3"
        class="flex flex-col gap-3 cursor-pointer py-5 w-2/6"
        [routerLink]="'/news/' + news.combinedTitle"
      >
        <img [src]="news.coverImage" class="rounded-md" />
        <h1 class="text-3xl font-semibold hover:text-pink-900">
          {{ news.title }}
        </h1>
        <p>{{ news.subTitle }}</p>
      </div>
    </div>
    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <div
        *ngFor="let news of sectionNews | slice : 3 : 6"
        class="flex flex-col gap-3 cursor-pointer py-5 w-2/6"
      >
        <img [src]="news.coverImage" class="rounded-md" />
        <h1 class="text-3xl font-semibold hover:text-pink-900">
          {{ news.title }}
        </h1>
        <p>{{ news.subTitle }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="flex items-center justify-center bg-[#0000001d]">
  <app-spinner></app-spinner>
</div>
