<div class="p-6 flex flex-col gap-6">
  <div class="flex justify-between items-top mb-8">
    <div class="flex flex-col">
      <h4 class="text-lg font-semibold">Blog/News Categories List</h4>
      <span>Little more description on this topic is here</span>
    </div>
    <div>
      <button
        *ngIf="!showAddEditBox"
        (click)="showAddEditBox = true"
        class="bg-pink-900 px-5 py-2 font-semibold text-white rounded"
      >
        Add New Category
      </button>
      <app-news-category-create
        (onCancelClicked)="showAddEditBox = false; selectedCategory = null"
        (onSaved)="loadCategory()"
        *ngIf="showAddEditBox"
        [category]="selectedCategory"
      ></app-news-category-create>
    </div>
  </div>

  <!-- List Category -->
  <div class="grid grid-cols-2 gap-6">
    <!-- Category Card -->
    <div
      *ngFor="let category of categories"
      class="border border-slate-200 shadow-sm px-6 py-2 flex justify-between items-center"
    >
      <!-- Category info -->
      <div>
        <h1 class="font-semibold text-blue-500 text-lg">
          {{ category.name | uppercase }}
        </h1>
        <h3 class="text-slate-500">{{ category.code }}</h3>
      </div>
      <!-- Action Menu -->
      <div class="flex gap-6">
        <app-button
          paddings="px-2 py-2"
          border="circle"
          color="primary"
          (click)="editCategory(category)"
          ><span class="material-icons">edit</span></app-button
        >
        <app-button
          paddings="px-2 py-2"
          border="circle"
          color="secondary"
          (click)="deleteCategory(category.id)"
          ><span class="material-icons">delete</span></app-button
        >
      </div>
    </div>
  </div>
</div>
