<div>
  <!-- Main Title -->
  <div
    class="flex justify-center items-center w-full shadow-md bg-gradient-to-b from-transparent to-blue-100 py-3 font-bold text-slate-800 rounded-lg"
  >
    HOT NEWS
  </div>
  <!-- Display Section -->
  <div class="flex flex-col">
    <!-- Card -->
    <div
      class="flex flex-col gap-3 cursor-pointer w-full py-5"
      [routerLink]="'/news/' + hotNews[0].combinedTitle"
    >
      <img [src]="hotNews[0].coverImage" class="rounded-md" />
      <h1 class="text-3xl font-semibold hover:text-pink-900">
        {{ hotNews[0].title }}
      </h1>
      <p>{{ hotNews[0].subTitle }}</p>
    </div>

    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <div
        *ngFor="let news of hotNews | slice : 1 : 3; let i = index"
        class="flex flex-col gap-3 cursor-pointer py-5 w-3/6"
        [routerLink]="'/news/' + news.combinedTitle"
      >
        <img [src]="news.coverImage" class="rounded-md" />
        <h1 class="text-3xl font-semibold hover:text-pink-900">
          {{ news.title }}
        </h1>
        <p>{{ news.subTitle }}</p>
      </div>
    </div>

    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <div
        *ngFor="let news of hotNews | slice : 3 : 5; let i = index"
        class="flex flex-col gap-3 cursor-pointer py-5 w-3/6"
        [routerLink]="'/news/' + news.combinedTitle"
      >
        <img [src]="news.coverImage" class="rounded-md" />
        <h1 class="text-3xl font-semibold hover:text-pink-900">
          {{ news.title }}
        </h1>
        <p>{{ news.subTitle }}</p>
      </div>
    </div>
  </div>
</div>
