<div
  class="flex sticky top-0 w-full bg-gradient-to-r from-slate-700 to-slate-800 text-white py-4 px-10 text-2xl justify-between items-center"
>
  <div class="flex gap-6 items-center">
    <img width="40" height="40" src="assets/logo-sm.png" />

    Admin Portal
  </div>
  <div class="flex gap-6 text-base">
    <div class="cursor-pointer" [routerLink]="'category'">Category</div>
    <div class="cursor-pointer" [routerLink]="'hot-topic'">Hot Topics</div>
    <div class="cursor-pointer" [routerLink]="'/news-admin'">News/Blogs</div>
  </div>
</div>

<router-outlet></router-outlet>
