<div></div>
<div class="p-6 flex flex-col gap-6">
  <h4 class="text-lg font-semibold">
    {{ edit ? "Edit News Blog" : "Post a News Blog" }}
  </h4>

  <!-- Form Section -->
  <div class="flex flex-col w-full gap-4">
    <div class="flex gap-6">
      <app-input placeholder="Enter Category"></app-input>
      <app-input placeholder="Enter Blog Title"></app-input>
    </div>

    <app-text-area
      [rows]="2"
      placeholder="Enter Subtitle of 200 characters . . . . . . ."
    ></app-text-area>

    <quill-editor class="h-[250px]" theme="snow"></quill-editor>

    <div class="mt-10">
      <app-button [paddings]="'px-4 py-2'" border="little">Save</app-button>
    </div>
  </div>
</div>
