<div
  class="rounded -mx-8 px-8 p-2 flex justify-between items-center bg-black bg-opacity-[0.15] sticky top-10 z-20 mt-4 backdrop-blur-xl">
  <img src="../../../../assets/logo.svg" class="h-12 py-2 flex -mb-1 cursor-pointer " />
  <!-- Left side menu -->
  <ul class="flex gap-10 items-center text-white font-medium">

    <li class="flex items-center gap-3 cursor-pointer" routerLink="/news">
      <span class="material-symbols-outlined text-blue-500">rss_feed</span>News
    </li>
    <li class="flex items-center gap-3 cursor-pointer " routerLink="/learn">
      <span class="material-symbols-outlined text-blue-500">school</span>Learn
    </li>
    <li class="flex items-center gap-3 cursor-pointer" routerLink="/contribute">
      <span class="material-symbols-outlined text-blue-500">cloud_upload</span>Contribute
    </li>
  </ul>

</div>