<div class="w-full py-8 flex justify-between">
  <!-- Left side menu -->
  <ul class="flex gap-10 items-center">
    <img src="../../../../assets/logo.svg" class="h-10 mr-10 cursor-pointer" />
    <li class="text-white flex items-center cursor-pointer" routerLink="/news">
      <span class="material-symbols-outlined mr-2 text-[15px]">rss_feed</span
      >News
    </li>
    <li class="text-white flex items-center cursor-pointer" routerLink="/learn">
      <span class="material-symbols-outlined mr-2 text-[15px]">school</span
      >Learn
    </li>
    <li class="text-white flex items-center cursor-pointer">
      <span class="material-symbols-outlined mr-2 text-[15px]"
        >cloud_upload</span
      >Contribute
    </li>
  </ul>
  <!-- Right side menu -->
  <ul class="flex gap-8 items-center">
    <li class="text-white flex items-center cursor-pointer">
      <img src="../../../../assets/professional/linkedin.svg" class="h-5" />
    </li>
    <li class="text-white flex items-center cursor-pointer">
      <img
        src="../../../../assets/professional/github.svg"
        class="h-5 invert"
      />
    </li>
    <li
      class="bg-white rounded-md p-2 px-4 text-purple-900 hover:bg-[#ffffffca] duration-700 items-center flex cursor-pointer"
    >
      <span class="material-symbols-outlined mr-2 text-[15px]">add_circle</span
      >Join US
    </li>
  </ul>
</div>
