<div class="bg-slate-50 h-40 flex w-full justify-center text-gray-400">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3905295131942191"
    crossorigin="anonymous"
  ></script>
  <!-- technepal-top-unit -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-3905295131942191"
    data-ad-slot="5685748004"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
