
html.unreset {
  box-sizing: content-box;
}
.unreset body {
  margin: 8px;
  line-height: normal;
}
.unreset p {
  margin: 1em 0;
}

.unreset h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}
.unreset h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

.unreset ul, .unreset menu {
    list-style-type: disc;
    margin: 1em 0;
    padding: 0 0 0 40px;
  }
  .unreset ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding: 0 0 0 40px;
  }
  .unreset ul ul, .unreset ol ul {
    list-style-type: circle;
  }
  .unreset ul ul ul, .unreset ul ol ul, .unreset ol ul ul, .unreset ol ol ul {
    list-style-type: square;
  }

  a{
    color: blue;
  }

