<div>
  <!-- Main Title -->
  <div
    class="flex justify-center items-center w-full shadow-md bg-gradient-to-b from-transparent to-blue-100 py-3 font-bold text-slate-800 rounded-lg"
  >
    LATEST NEWS
  </div>
  <!-- Display Section -->
  <div class="flex flex-col">
    <!-- Small Card -->
    <app-card
      size="small"
      class="border-b first:py-5 last:border-none py-3"
      *ngFor="let news of latestNews | slice : 0 : 15"
      [routerLink]="'/news/' + news.combinedTitle"
      [item]="news"
    >
    </app-card>
  </div>
</div>
