<div class="w-full flex justify-center items-center bg-slate-700 h-16 px-3">
  <!-- Main Section -->
  <div class="flex w-[70%] justify-between items-center">
    <!-- Logo & Slogan Section -->
    <div class="flex gap-4 items-center mt-2">
      <img width="150px" src="assets/logo.svg" />
      <p class="text-gray-300 font-normal font-roboto">Your tech book</p>
    </div>
    <!-- Feeds and Search Icon -->
    <div class="flex gap-6 items-center">
      <!-- Language Selector -->
      <div
        class="w-8 h-8 flex justify-center items-center bg-gray-400 font-semibold cursor-pointer"
      >
        EN
      </div>
      <!-- Social Media -->
      <div class="flex gap-2 items-center">
        <div class="w-8 h-8 flex justify-center items-center cursor-pointer">
          <img width="70%" src="assets/facebook.svg" />
        </div>
        <div class="w-8 h-8 flex justify-center items-center cursor-pointer">
          <img width="70%" src="assets/linkedin.svg" />
        </div>
        <div class="w-8 h-8 flex justify-center items-center cursor-pointer">
          <img width="70%" src="assets/twitter.svg" />
        </div>
      </div>
      <!-- Search Icon -->
      <div class="flex gap-2 px-2 items-center bg-gray-300 rounded-sm h-8">
        <input class="outline-none bg-transparent" placeholder="Search" />
        <span class="material-icons text-gray-500 cursor-pointer">search</span>
      </div>
    </div>
  </div>
</div>
