<div class="w-full flex justify-center px-3">
  <!-- Main Section -->
  <div class="flex w-[70%] my-6 flex-col gap-6">
    <!-- Ads Section -->
    <div class="bg-slate-50 py-16 flex w-full justify-center text-gray-400">
      Ads
    </div>
    <!-- Navigate Trending Section -->
    <div class="bg-gray-200 flex w-full">
      <div
        class="flex items-center justify-center text-white w-36 bg-gradient-to-r from-red-500 to-red-400"
      >
        HOT TOPICS
      </div>
      <!-- Scroll bar with style -->
      <div class="flex items-center w-full h-full overflow-x-auto scrollbar">
        <button
          *ngFor="let hotTopic of hotTopicList"
          class="px-3 py-1 flex-none hover:text-blue-500"
          (click)="redirectToHotTopicList(hotTopic.id)"
        >
          {{ hotTopic.name }}
        </button>
      </div>
    </div>
    <!-- Display Section -->
    <div class="flex flex-col mt-16 gap-6">
      <!-- HOT Topic & Latest News  -->
      <div class="flex gap-6">
        <app-hot-topic class="w-4/6"></app-hot-topic>
        <app-latest-news class="w-2/6"></app-latest-news>
      </div>

      <!-- Category Section -->
      <app-flat-display-section
        *ngFor="let category of categoryList"
        [sectionName]="category.name | uppercase"
        [sectionCode]="category.id"
      ></app-flat-display-section>
    </div>
  </div>
</div>
