<div class="w-full bg-gray-100 h-12 rounded-lg flex p-2 gap-4 top-category">
  <div
    class="rounded-md px-4 bg-red-400 text-white flex justify-center items-center font-semibold cursor-pointer bg-[rgba(0,0,0,0.3)] backdrop-blur-2xl hover:bg-cyan-600 transition-all hover:transition-all"
    style="
      background-image: url('https://img.freepik.com/premium-photo/businessman-using-tech-devices-icons-thin-line-interface_117023-904.jpg');
    "
  >
    What's new?
  </div>
  <div
    class="rounded-md px-4 bg-red-400 text-white flex justify-center items-center font-semibold cursor-pointer bg-[rgba(0,0,0,0.3)] backdrop-blur-2xl hover:bg-cyan-600 transition-all hover:transition-all"
    style="
      background-image: url('https://img.freepik.com/premium-photo/businessman-using-tech-devices-icons-thin-line-interface_117023-904.jpg');
    "
  >
    International News
  </div>
  <div
    class="rounded-md px-4 bg-red-400 text-white flex justify-center items-center font-semibold cursor-pointer bg-[rgba(0,0,0,0.3)] backdrop-blur-2xl hover:bg-cyan-600 transition-all hover:transition-all"
    style="
      background-image: url('https://img.freepik.com/premium-photo/businessman-using-tech-devices-icons-thin-line-interface_117023-904.jpg');
    "
  >
    Big Companies
  </div>
  <div
    class="rounded-md px-4 bg-red-400 text-white flex justify-center items-center font-semibold cursor-pointer bg-[rgba(0,0,0,0.3)] backdrop-blur-2xl hover:bg-cyan-600 transition-all hover:transition-all"
    style="
      background-image: url('https://img.freepik.com/premium-photo/businessman-using-tech-devices-icons-thin-line-interface_117023-904.jpg');
    "
  >
    IT Company Shares
  </div>

  <div
    class="rounded-md px-4 bg-red-400 text-white flex justify-center items-center font-semibold cursor-pointer bg-[rgba(0,0,0,0.3)] backdrop-blur-2xl hover:bg-cyan-600 transition-all hover:transition-all"
    style="
      background-image: url('https://img.freepik.com/premium-photo/businessman-using-tech-devices-icons-thin-line-interface_117023-904.jpg');
    "
  >
    Nepal in IT
  </div>
  <div
    class="rounded-md px-4 bg-red-400 text-white flex justify-center items-center font-semibold cursor-pointer bg-[rgba(0,0,0,0.3)] backdrop-blur-2xl hover:bg-cyan-600 transition-all hover:transition-all"
    style="
      background-image: url('https://img.freepik.com/premium-photo/businessman-using-tech-devices-icons-thin-line-interface_117023-904.jpg');
    "
  >
    Language Famous in 2023*
  </div>
  <div
    class="rounded-md px-4 bg-red-400 text-white flex justify-center items-center font-semibold cursor-pointer bg-[rgba(0,0,0,0.3)] backdrop-blur-2xl hover:bg-cyan-600 transition-all hover:transition-all"
    style="
      background-image: url('https://img.freepik.com/premium-photo/businessman-using-tech-devices-icons-thin-line-interface_117023-904.jpg');
    "
  >
    New in Tech 2023
  </div>
</div>
