<div class="w-full flex justify-center">
  <!-- Main Section -->
  <div class="flex flex-col mx-auto w-[70%] max-xl:w-[90%] py-12 gap-8">
    <!-- Ads Section -->
    <div class="bg-slate-50 py-16 flex w-full justify-center text-gray-400">
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3905295131942191"
        crossorigin="anonymous"
      ></script>
      <!-- technepal-top-unit -->
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-3905295131942191"
        data-ad-slot="5685748004"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <!-- Navigate Trending Section -->
    <div class="bg-gray-200 flex w-full">
      <div
        class="flex items-center justify-center font-medium text-white w-36 bg-gradient-to-r from-pink-800 to-pink-900"
      >
        HOT TOPICS
      </div>
      <!-- Scroll bar with style -->
      <div class="flex items-center w-full h-full overflow-x-auto scrollbar">
        <button
          *ngFor="let hotTopic of hotTopicList"
          class="px-3 py-2 font-medium flex-none hover:text-pink-800"
          (click)="redirectToHotTopicList(hotTopic.id)"
        >
          {{ hotTopic.name }}
        </button>
      </div>
    </div>
    <!-- Display Section -->
    <div class="flex flex-col mt-5 gap-6">
      <!-- HOT Topic & Latest News  -->
      <div class="flex gap-6">
        <app-hot-topic class="w-4/6"></app-hot-topic>
        <app-latest-news class="w-2/6"></app-latest-news>
      </div>

      <!-- Category Section -->
      <app-flat-display-section
        *ngFor="let category of categoryList"
        [sectionName]="category.name | uppercase"
        [sectionCode]="category.id"
      ></app-flat-display-section>
    </div>
  </div>
</div>

<div
  *ngIf="isLoading"
  class="flex w-screen h-screen items-center justify-center bg-[#0000001d] fixed top-0"
>
  <app-spinner></app-spinner>
</div>
