<div class="flex flex-col mx-auto w-[60%] max-xl:w-[90%] py-12 gap-8">
  <!-- Ads Section -->
  <div class="bg-slate-50 py-16 flex w-full justify-center text-gray-400">
    Ads
  </div>
  <!-- Display Section -->
  <div class="flex flex-col">
    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <div
        *ngFor="let news of blogs | slice : 0 : 3"
        class="flex flex-col gap-3 cursor-pointer py-5 w-2/6"
        [routerLink]="'/news/' + news.combinedTitle"
      >
        <img [src]="news.coverImage" />
        <h1 class="text-3xl font-semibold hover:text-blue-500">
          {{ news.title }}
        </h1>
        <p>{{ news.subTitle }}</p>
      </div>
    </div>
    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <div
        *ngFor="let news of blogs | slice : 3 : 6"
        class="flex flex-col gap-3 cursor-pointer py-5 w-2/6"
      >
        <img [src]="news.coverImage" />
        <h1 class="text-3xl font-semibold hover:text-blue-500">
          {{ news.title }}
        </h1>
        <p>{{ news.subTitle }}</p>
      </div>
    </div>
  </div>
</div>
