<div class="flex flex-col mx-auto w-[70%] max-xl:w-[90%] py-12 gap-8">
  <!-- Ads Section -->
  <app-my-ads></app-my-ads>
  <!-- Display Section -->
  <div
    *ngIf="blogs && blogs.length > 0; else emptyTemplate"
    class="flex flex-col"
  >
    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <app-card
        *ngFor="let news of blogs | slice : 0 : 3; let i = index"
        class="w-2/6"
        [routerLink]="'/news/' + news.combinedTitle"
        [item]="news"
      >
      </app-card>
    </div>
    <!-- Combined Card -->
    <div class="flex gap-6">
      <!-- Card -->
      <app-card
        *ngFor="let news of blogs | slice : 3 : 6; let i = index"
        class="w-2/6"
        [routerLink]="'/news/' + news.combinedTitle"
        [item]="news"
      >
      </app-card>
    </div>
  </div>
  <ng-template #emptyTemplate>
    <div class="h-80"></div>
  </ng-template>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>
