<!-- Footer area -->
<div class=" px-10 mt-80 -mx-[21.43%] text-white items-center">
  <div class="border-t border-gray-200 py-10 justify-between flex px-5">
    <a href="/" class="text-red-400">
      © 2024 The
      <span class="text-slate-500 hover:text-pink-800 cursor-pointer">TechNepal.</span>
    </a>
    <div class="flex gap-5">
      <p>Tech Nepal</p>
      <a href="https://ananta-poudel.com.np/about" class="text-slate-500 hover:text-pink-800 cursor-pointer">About
        Me</a>
      <a routerLink="/news" class="text-slate-500 hover:text-pink-800 cursor-pointer">Tech News</a>
    </div>
  </div>
  <div class="text-white font-light flex gap-3 py-6 bg-slate-900 w-full mb-10">
    <a target="_blank" href="https://ananta-poudel.com.np" class="w-[70%] max-xl:w-[90%] px-5 flex items-center gap-3">
      <img class="h-8" src="assets/professional/love.svg"> Designed and Developed by
      <span class="font-semibold">Ananta Poudel</span>
    </a>
  </div>
</div>