<div class="w-full flex justify-center items-center bg-slate-900 h-11">
  <!-- Main Section -->
  <div class="flex h-full w-[70%] max-xl:w-[90%] justify-between items-center">
    <!-- Left Section -->
    <div class="h-full flex">
      <div
        [routerLink]="'/news'"
        class="flex h-full justify-center items-center text-white px-3 border-t border-transparent hover:bg-slate-700 hover:border-slate-500 cursor-pointer"
      >
        <span class="material-icons">cottage</span>
      </div>

      <div
        class="flex h-full font-poppins justify-center items-center text-white px-4 border-t border-transparent hover:bg-slate-700 hover:border-slate-500 cursor-pointer"
      >
        Popular
      </div>

      <div
        class="flex h-full font-poppins justify-center items-center text-white px-4 border-t border-transparent hover:bg-slate-700 hover:border-slate-500 cursor-pointer"
      >
        Latest
      </div>

      <div
        *ngFor="let category of categoryList"
        (click)="redirectToCategoryList(category.id)"
        [ngClass]="
          selectedCategoryId === category.id
            ? 'bg-red-900 border-red-700'
            : 'hover:bg-slate-700 hover:border-slate-500'
        "
        class="flex h-full font-poppins justify-center items-center px-4 border-t border-transparent text-white cursor-pointer"
      >
        {{ category.name }}
      </div>
    </div>

    <!-- Right Section -->
    <div class="h-full flex">
      <div
        class="bg-gradient-to-t cursor-pointer from-blue-900 to-blue-950 font-semibold gap-3 text-white flex h-full justify-center items-center px-4 mr-3"
      >
        LEARN <span class="material-icons"> school </span>
      </div>
    </div>
  </div>
</div>
