<div class="flex flex-col mx-auto w-[70%] max-xl:w-[90%] py-12 gap-8">
  <!-- Ads Section -->
  <app-my-ads></app-my-ads>
  <!-- Display Section -->
  <div *ngIf="blogs && blogs.length > 0; else emptyTemplate"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Card -->
    <app-card *ngFor="let news of blogs; let i = index" class="w-full" [routerLink]="'/news/' + news.combinedTitle"
      [item]="news">
    </app-card>
  </div>
  <ng-template #emptyTemplate>
    <div class="h-80"></div>
  </ng-template>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>